.header {
  background-color: #2155aa;
  height: 69px;
}

.header-icon-facebook {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  color: white;
  background-color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  height: 122px;
}

.navbar-logo {
  width: 200px;
}

.navbar-item-hover {
  border-bottom: 2px solid white;
  transition: all 0.3s ease;
}

.navbar-item-hover:hover {
  border-bottom: 2px solid #d19e37;
}

.navbar-item-active {
  border-bottom: 2px solid #d19e37;
}

.cover-top-title {
  bottom: 45px;
  right: 35px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.why {
  background-color: #eff1f1;
}

.why-item {
  background-color: #f6f5f4;
  height: 160px;
}

.why-item-title {
  color: #405e87;
}

.why-item-text {
  color: #b7b6b6;
  font-size: 14px;
}

.about-us {
  background-color: #faffff;
}

.about-us-image {
  width: 425px;
  height: 500px;
}

.about-us-title::after {
  width: 20%;
  left: 10px;
  margin-left: 0;
  margin-right: 0;
}

.about-us-sub-title {
  color: #415f8a;
  font-size: 18px;
}

.about-us-btn {
  background-color: #cea33c;
  font-size: 20px;
  transition: all 0.25 linear;
}

.about-us-btn:hover {
  background-color: #cea33cd8;
}

.service-body {
  height: 550px;
  background-image: url('../assets/bg-service.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.service-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3956a0b3;
  top: 0;
  left: 0;
  opacity: 69%;
}

@media (max-width: 768px) {
  .navbar-container {
    height: 69px;
  }

  .navbar-logo {
    width: 100px;
  }

  .cover-top-title {
    top: 20px;
    font-size: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    letter-spacing: 1px;
  }

  .about-us-image {
    width: 100%;
    height: 480px;
  }

  .about-us-title::after {
    width: 26%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
