.space-container {
  height: 100px;
  background-image: url('../assets/bg-service.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #2155aa;
  height: 69px;
}

.header-icon-facebook {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  color: white;
  background-color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sticky + .hp-main {
  padding-top: 122px;
}

.navbar-container {
  height: 122px;
}

.navbar-logo {
  width: 190px;
}

.navbar-item-hover {
  color: #2467c7;
  border-bottom: 2px solid white;
  transition: all 0.3s ease;
}

.navbar-item-hover a {
  color: #2467c7;
}

.navbar-item-hover:hover {
  border-bottom: 2px solid #d19e37;
}

.navbar-item-active {
  border-bottom: 2px solid #d19e37;
}

.bg-top {
  width: 100%;
  object-fit: cover;
}

.bg-top-gradient {
  position: absolute;
  bottom: 0;
  height: 180px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(38, 65, 126, 0) 17.24%,
    rgba(37, 63, 126, 0.22) 29.88%,
    rgba(36, 61, 127, 0.5) 47.57%,
    rgba(35, 60, 127, 0.72) 65.26%,
    rgba(35, 59, 127, 0.88) 84.22%,
    rgba(35, 59, 127, 0.97) 101.91%,
    #233b80 120.87%
  );
}

.cover-top-title {
  bottom: 10%;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 42px;
  color: white;
  text-shadow: #2c4751 2px 2px 3px;
  z-index: 1;
}

.why {
  background-color: #eff1f1;
}

.why-item {
  position: relative;
  background-color: #f6f5f4;
  height: 100%;
  cursor: default;
  z-index: 1;
  transition: transform 0.25s linear, box-shadow 0.25s linear;
}

.why-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f5f4;
  z-index: -1;
}

.why-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2467c7;
  z-index: -1;
  transition: transform 0.25s linear;
}

.why-item:hover {
  transform: translate(-10px, -10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.why-item:hover::before {
  transform: translate(10px, 10px);
}

.why-item-title {
  color: #405e87;
}

.why-item-text {
  color: #b7b6b6;
  font-size: 14px;
}

.about-us {
  background-color: #faffff;
}

.about-us-image {
  width: 425px;
  height: 500px;
}

.about-us-title::after {
  width: 20%;
  left: 10px;
  margin-left: 0;
  margin-right: 0;
}

.about-us-sub-title {
  color: #415f8a;
  font-size: 18px;
}

.about-us-btn {
  background-color: #cea33c;
  font-size: 20px;
  transition: all 0.25 linear;
}

.about-us-btn:hover {
  background-color: #cea33cd8;
}

.service {
  background-image: url('../assets/bg-service.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.service-layer {
  background-color: #3956a0b0;
}

.service-body {
  height: 420px;
}

.service-content {
  column-gap: 40px;
}

.service-item {
  width: 20%;
}

.service-number {
  color: #cea33c;
  font-size: 20px;
  font-weight: 600;
}

.service-title {
  color: #faffff;
  font-size: 20px;
}

.service-text {
  max-height: 0;
  opacity: 0;
  font-size: 16px;
  transition: max-height 1.2s ease;
}

.service-angles {
  font-size: 22px;
}

.service-angles {
  transition: all 0.5s linear;
}

.service-item:hover > .service-text {
  max-height: 100%;
  opacity: 1;
  animation: fade_in_show 1s;
}

.service-item:hover > .service-angles {
  color: #cea33c !important;
  transform: rotate(90deg);
}

.new-item {
  position: relative;
  background-color: white;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.25s linear, box-shadow 0.25s linear;
}

.new-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.new-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2467c7;
  z-index: -1;
  transition: transform 0.25s linear;
}

.new-item:hover {
  transform: translate(-10px, -10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new-item:hover::before {
  transform: translate(10px, 10px);
}

.new-image {
  width: 100%;
  height: 16vw;
}

.new-title {
  color: #405e87;
  font-size: 18px;
}

.new-btn {
  color: #405e87;
}

.ship-item {
  transition: box-shadow 0.25s linear;
}

.ship-item:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ship-image {
  width: 30vw;
}

.ship-item-text {
  font-size: 20px;
}

.comments {
  background-image: url('../assets/bg-comment.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.comments-body {
  background-color: #2f427feb;
  padding: 30px 0;
}

.comments-slide {
  width: 45vw;
}

.comments-content {
  background-color: #4c5c91;
  padding: 10px 120px 10px 40px;
  position: relative;
}

.comments-quote {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 36px;
  color: #fac14b;
}

.comments-angles {
  color: #fac14b;
  font-size: 30px;
  width: 100%;
  text-align: end;
}

.comments-text {
  font-size: 26px;
  font-weight: 300;
}

.comments .slick-slider .slick-track {
  background-color: #4c5c91;
}

.new-page-image {
  height: 600px;
  object-fit: cover;
}

.new-page-item-image {
  height: 25vw;
}

.news-page-title {
  right: 40px;
  color: #2260db;
  font-weight: 600;
  font-size: 56px;
}

.news-page-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  filter: blur(16px);
  z-index: -1;
}

.client-item img {
  height: 86px;
  object-fit: contain;
  margin: auto;
}

.post-right {
  border-left: 1px solid #405e87;
  height: fit-content;
  padding-bottom: 40px;
}

.post-content {
  font-family: sans-serif;
}

.post-title {
  color: #2155aa;
}

.post-right-title {
  color: #405e87;
}

.post-item {
  border-bottom: 1px solid #ececec;
  transition: box-shadow 0.25s linear;
}

.post-item-title {
  color: #415f8a;
}

.post-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 768px) {
  .sticky + .hp-main {
    padding-top: 69px;
  }

  .navbar-container {
    height: 69px;
  }

  .navbar-logo {
    width: 100px;
  }

  .bg-top-gradient {
    height: 90px;
  }

  .cover-top-title {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .about-us-image {
    width: 100%;
    height: 480px;
  }

  .about-us-title::after {
    width: 26%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .service-body {
    height: auto;
  }

  .service-content {
    row-gap: 30px;
  }

  .service-item {
    width: 100%;
  }

  .service-text {
    max-height: 100%;
    opacity: 1;
  }

  .new-image {
    height: 100%;
  }

  .ship-image {
    width: 100%;
  }

  .ship-item-text {
    font-size: 16px;
  }

  .comments-slide {
    width: 93vw;
  }

  .comments-content {
    padding-right: 10px;
  }

  .comments-text {
    font-size: 22px;
  }

  .new-page-image {
    height: 170px;
  }

  .new-page-item-image {
    height: 100%;
  }

  .news-page-title {
    font-size: 22px;
    right: 15px;
  }

  .news-page-title::before {
    width: 100%;
  }

  .post-right {
    padding-bottom: 0;
    border-left: none;
    margin-top: 30px;
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_in_angles {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
