.text-blue {
    color: #2260BD;
}

.top-title{
    top: 30%;
    text-transform: uppercase;
    font-weight: 700;
}

.w-47{
    width: 47% !important;
}

@media (max-width: 768px) {
    .sp-column{
        flex-direction: column;
    }
    .sp-100{
        width: 100% !important;
        margin: auto;
    }
}
